<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<%= content_tag :div, class: "address_data", data: {address: client} do %>
<% end %>

<div id="map" style="width: 100%; height: 400px"></div>

<script type="text/javascript">
    ymaps.ready(init);
    var myMap;

    function init(){
	    
	    var lat = $('.address_data').data('address').latitude;
	    var lng = $('.address_data').data('address').longitude;
	    var address = 'ул. ' + $('.address_data').data('address').street + ' д. ' + $('.address_data').data('address').building + ' кв. ' + $('.address_data').data('address').apartment;

            myMap = new ymaps.Map('map', {
                center: [lat, lng],
                zoom : 12
            });

            var clientGeoObject = new ymaps.Placemark([lat, lng], {balloonContent: address});
//             clientGeoObject = new ymaps.GeoObject({
//               geometry: {
//                 type: "Point",// тип геометрии - точка
//                 coordinates: [lat, lng] // координаты точки
//               }
//             });
            myMap.geoObjects.add(clientGeoObject);
    }
</script> 
