
<%= link_to 'New Client', new_client_path %>

<h1>Listing clients</h1>

<%= render partial: "clients/clients_list", locals: { clients: @clients, return_url: @return_url } %>

<%= will_paginate @clients %>

