<% table_locals ||= nil %>
<% sidebar_locals ||= nil %>

<div class="row-fluid">
  <div class="span9" id="content">
    <div class="row-fluid">
      <!-- block -->
      <div class="block">
        <div class="navbar navbar-inner block-header">
          <div class="muted pull-left"><h3><%= model.model_name.human(:count => "many").mb_chars.capitalize.to_s %></h3></div>
        </div>
        <div class="block-content collapse in">
          <div class="span12">
            <%= render partial: "#{controller.controller_name}/#{controller.controller_name}_list", locals: table_locals %>
          </div>
        </div>
        <%= will_paginate model, renderer: BootstrapPagination::Rails %>
      </div>
      <!-- /block -->
    </div>
  </div>
  <div class="span3" id="sidebar">
    <div class="row-fluid">
      <div class="block">
        <div class="navbar navbar-inner block-header">
          <div class="muted pull-left"><h3>Filter</h3></div>
        </div>
        <div class="block-content collapse in">
	  <%= render partial: "#{controller.controller_name}/#{controller.controller_name}_sidebar", locals: sidebar_locals %>
        </div>
      </div>
    </div>
    <!-- /block -->
  </div>
</div> 
